<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  This web site and application is made for JP's Hair Salon located
  on Route 9 in Waretown, New Jersey.
</p>
<p> For directions please site our <%= link_to "Contact", contact_path %> page.</p>