<% provide(:title, 'Contact Us') %>
<h1>Contact Us</h1>
<p>
  JP's Hair Salon can be reached by calling us at: (609)-698-4800
</p>
<p>
  For Directions to our shop please use the map below:
  <ol>
  	<li>Click the B on the map </il>
  	<li>Press Get Directions</il>
  </ol>
  This will take you to a Google page where all you will have to do is put in your address to get directions to the shop.
</p>

<iframe width="500" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=d&amp;source=s_d&amp;saddr=&amp;daddr=J+P's+Hair+Salon,+J+P's+Hair+Salon,+360+U.S.+9,+Waretown,+NJ+08758&amp;hl=en&amp;geocode=CWQ1rXH6ZMhPFYMBXwIdmL6T-yltzDOfT6fBiTFGdA1QXnXpdg&amp;aq=&amp;sll=39.775076,-74.2081&amp;sspn=0.023286,0.030856&amp;t=h&amp;mra=pd&amp;ie=UTF8&amp;ll=39.780739,-74.203496&amp;spn=0.006295,0.008192&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?f=d&amp;source=embed&amp;saddr=&amp;daddr=J+P's+Hair+Salon,+J+P's+Hair+Salon,+360+U.S.+9,+Waretown,+NJ+08758&amp;hl=en&amp;geocode=CWQ1rXH6ZMhPFYMBXwIdmL6T-yltzDOfT6fBiTFGdA1QXnXpdg&amp;aq=&amp;sll=39.775076,-74.2081&amp;sspn=0.023286,0.030856&amp;t=h&amp;mra=pd&amp;ie=UTF8&amp;ll=39.780739,-74.203496&amp;spn=0.006295,0.008192" style="color:#0000FF;text-align:left">View Larger Map</a></small>